body {
  width: 100%;
}

.header {
  text-align: center;
}

.calculator__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator__value__one {
  width: 300px;
  height: 40px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 0;
  padding-left: 10px;
}

.calculator__value__two {
  border-radius: 10px;
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 10px;
}

.calculator__result {
  border-radius: 10px;
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 10px;
}

.symbol__pluss {
  width: 158px;
  height: 40px;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-left: 10px;
  color: black;
  background-color: white;
  cursor: pointer;
}

.symbol__pluss:focus {
  background-color: rgba(128, 128, 128, 0.3);
}

.compute {
  border-radius: 10px;
  width: 316px;
  height: 40px;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 10px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
}

.calculator__result {
  text-align: center;
}

.header__result {
  margin: 0;
}

.calculator__result__text {
  margin: 0;
  margin-top: 5px;
}
